## Homework Module 1
---

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
engine = create_engine(
    "postgresql+psycopg2://root:root@localhost:5432/ny_taxi"
)

---
## Docker Section

#### Question 1. Understanding Docker images
- What's the version of pip in the image?

- Answer: 25.3

#### Question 2. Understanding Docker networking and docker-compose
- What is the hostname and port that pgadmin should use to connect to the postgres database?

- Answer: postgres:5432

---
## SQL Section

#### Question 3. Counting short trips
For the trips in November 2025 (lpep_pickup_datetime between '2025-11-01' and '2025-12-01', exclusive of the upper bound), how many trips had a trip_distance of less than or equal to 1 mile?

In [4]:
query = """
SELECT COUNT(*)
FROM public.green_taxi_trips_2025_11
WHERE lpep_pickup_datetime >= '2025-11-01' 
    AND lpep_pickup_datetime <= '2025-12-01'
    AND trip_distance <=1;
"""

df = pd.read_sql(query, engine)
df

   count
0   8007

#### Question 4. Longest trip for each day
Which was the pick up day with the longest trip distance? Only consider trips with trip_distance less than 100 miles (to exclude data errors).

Use the pick up time for your calculations.

In [ ]:
query = """
SELECT CAST(lpep_pickup_datetime AS DATE)
FROM public.green_taxi_trips_2025_11
WHERE trip_distance <= 100
ORDER BY trip_distance desc
LIMIT 1;
"""

df = pd.read_sql(query, engine)
df

  lpep_pickup_datetime
0           2025-11-14

#### Question 5. Biggest pickup zone
Which was the pickup zone with the largest total_amount (sum of all trips) on November 18th, 2025?

In [24]:
query = """
SELECT "Zone"
FROM public.green_taxi_trips_2025_11 gt
LEFT JOIN public.taxi_zone_lookup tz
    ON gt."PULocationID" = tz."LocationID"
WHERE lpep_pickup_datetime >= '2025-11-18' 
GROUP BY tz."Zone"
ORDER BY count(*) DESC
LIMIT 1;
"""

df = pd.read_sql(query, engine)
df

                Zone
0  East Harlem North

In [36]:
query = """
SELECT dtz."Zone" as dropoff_zone
FROM public.green_taxi_trips_2025_11 gt
LEFT JOIN public.taxi_zone_lookup tz
    ON gt."PULocationID" = tz."LocationID"
LEFT JOIN public.taxi_zone_lookup dtz
    ON gt."DOLocationID" = dtz."LocationID"
WHERE tz."Zone" = 'East Harlem North' 
    AND lpep_pickup_datetime >= '2025-11-01' AND lpep_pickup_datetime < '2025-12-01'
GROUP BY dtz."Zone"
ORDER BY max(gt."tip_amount") DESC
LIMIT 1

;
"""

df = pd.read_sql(query, engine)
df

     dropoff_zone
0  Yorkville West

---
## Terraform Section

### Question 7. Terraform Workflow
- Which of the following sequences, respectively, describes the workflow for:

    - Downloading the provider plugins and setting up backend,
    - Generating proposed changes and auto-executing the plan
    - Remove all resources managed by terraform`

    - Answer: terraform init, terraform apply -auto-approve, terraform destroy